@import url('https://googleapis.com');
* {
  margin: 0 !important;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.alerta-login {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.4s ease;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #fff;
    color: #EB2929;
    padding: 15px 18px;
    border-radius: 12px 0 12px 12px;
    box-shadow: 0 4px 10px #00000033;
    font-size: 14px;
    font-weight: bold;
}
.ativo {
    opacity: 1;
    transform: translateX(0);
}
#alerta_mensagem{
    padding-left: 8px;
}

#body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
}

.imagem {
    width: 60%;
    background-image: url("../assets/imgs/login/imagem-login.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
    width: 40%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.logo h1 {
    font-family: "Jura", sans-serif;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    width: 80%;
}

.campo {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px 40px 8px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.campo img {
    position: absolute;
    right: 10px;
    top: 68%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.formulario button {
    border: none;
    color: #FFFFFF;
    background-color: #576CA8;
    border-radius: 5px;
    padding: 8px 0;
    width: 100%;
}

.opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcoes span {
    font-size: 14px;
}

.opcoes a {
    color: #576CA8;
}

.botao-sair {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #576CA8;
    font-weight: bold;
    padding: 0 0 16px 20px;
    text-decoration: none;
    align-self: self-start;
}

@media (max-width: 800px) {
    .imagem {
        display: none;
    }

    .login {
        width: 100%;
    }
}